@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Noto Sans Tamil', 'Mukta Malar', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  @apply bg-green-50 text-gray-900;
}